<html>
<head>
    <title>Really Basic History Data API</title>
    <link href="/main.css" media="screen" rel="Stylesheet" type="text/css" />
	<!--[if !IE 7]><style type="text/css">#wrap {display:table;height:100%}</style><![endif]-->

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<script type="text/javascript" src="http://www.google.com/jsapi"></script>
	<script>
	  google.load("jquery", "1.4.2");
	</script>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-98596-11']);
	  _gaq.push(['_trackPageview']);
	  
	  (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
  <script type="text/javascript" src="/api.js"></script>
  <script type="text/javascript" src="/ticker.js"></script>
</head>

<body>
<div id="wrap">
	<div id="main">
      <div id="header">
		<h1>Really Basic History Data API</h1>
		<div id="nav">
		  <a href="/">home</a> || 
		  <a href="/ticker">ticker</a> || 
		  <a href="http://muffinlabs.com/">muffinlabs</a>
		</div>
      </div>
      <div id="content">
        <%= yield %>
	  </div>
	</div>
</div>

<div id="footer">
    <div>
        <small>&copy; 2010 muffinlabs.com</small>
		<a href='http://github.com/muffinista/twitter-rss-digest'>code</a>
    </div>
</div>

</body>
</html>
